@import url("normalize.css");
body {
  width:100%;
  *zoom:1;
}
body:before, body:after {
  content:"";
  display:table;
}
body:after { clear:both; }
@font-face {
  font-family:'FontAwesome';
  src:url('/libs/fontawesome/fontawesome-webfont.eot?v=3.0.1');
  src:url('/libs/fontawesome/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('/libs/fontawesome/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('/libs/fontawesome/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family:FontAwesome;
  font-weight:normal;
  font-style:normal;
  text-decoration:inherit;
  -webkit-font-smoothing:antialiased;
  display:inline;
  width:auto;
  height:auto;
  line-height:normal;
  vertical-align:baseline;
  background-image:none;
  background-position:0% 0%;
  background-repeat:repeat;
  margin-top:0;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image:none; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration:inherit;
  display:inline-block;
  speak:none;
}
a [class^="icon-"], a [class*=" icon-"] { display:inline-block; }
.icon-large:before {
  vertical-align:-10%;
  font-size:1.33333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] { display:inline; }
.btn [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large, .nav [class*=" icon-"].icon-large { line-height:.9em; }
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin { display:inline-block; }
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"], .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large, .nav-pills [class*=" icon-"], .nav-pills [class*=" icon-"].icon-large { line-height:.9em; }
li [class^="icon-"], li [class*=" icon-"], .nav li [class^="icon-"], .nav li [class*=" icon-"] {
  display:inline-block;
  width:1.25em;
  text-align:center;
}
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large, .nav li [class*=" icon-"].icon-large { width:1.5625em; }
ul.icons {
  list-style-type:none;
  text-indent:-.75em;
}
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] { width:.75em; }
.icon-muted { color:#eeeeee; }
.icon-border {
  border:solid 1px #eeeeee;
  padding:.2em .25em .15em;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.icon-2x { font-size:2em; }
.icon-2x.icon-border {
  border-width:2px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.icon-3x { font-size:3em; }
.icon-3x.icon-border {
  border-width:3px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.icon-4x { font-size:4em; }
.icon-4x.icon-border {
  border-width:4px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.pull-right { float:right; }
.pull-left { float:left; }
[class^="icon-"].pull-left, [class*=" icon-"].pull-left { margin-right:.3em; }
[class^="icon-"].pull-right, [class*=" icon-"].pull-right { margin-left:.3em; }
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x { margin-top:.18em; }
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large { line-height:.8em; }
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x { margin-top:.25em; }
.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] { margin-top:0; }
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-top:.05em; }
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x { margin-right:.2em; }
.btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-left:.2em; }
.icon-spin {
  display:inline-block;
  -moz-animation:spin 2s infinite linear;
  -o-animation:spin 2s infinite linear;
  -webkit-animation:spin 2s infinite linear;
  animation:spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform:rotate(0deg);
  }
  100% {
    -moz-transform:rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform:rotate(0deg);
  }
  100% {
    -o-transform:rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform:rotate(0deg);
  }
  100% {
    -ms-transform:rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(359deg);
  }
}
.icon-phone:before { content:"\f095"; }
.icon-facebook:before { content:"\f09a"; }
.icon-envelope-alt:before { content:"\f0e0"; }
body {
  padding:0;
  margin:0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:13px;
  line-height:17px;
}
a {
  color:#3c3e62;
  text-decoration:none;
}
a:hover { color:#212668; }
p { margin-bottom:10px; }
p.like_what_you_see {
  text-align:center;
  margin:20px;
  font-size:18px;
}
h1 {
  font-size:24px;
  border-bottom:1px solid #333333;
  padding-bottom:10px;
  margin-bottom:10px;
}
h2 {
  color:#3c3f63;
  text-transform:uppercase;
  font-size:17px;
}
hr {
  *zoom:1;
  border:0;
  padding:0;
  margin:0;
  border-bottom:1px solid #e1e1e1;
  margin:10px 0;
}
hr:before, hr:after {
  content:"";
  display:table;
}
hr:after { clear:both; }
hr.m-right { margin-right:20px; }
.edge-bars {
  background:#3c3f63;
  color:#ffffff;
}
.edge-bars ul {
  list-style:none;
  margin:0;
}
.edge-bars ul li { display:inline; }
.edge-bars a { color:#ffffff; }
.edge-bars a:hover { color:#eaeef3; }
.top {
  background:#3c3f63;
  color:#ffffff;
  line-height:34px;
  height:34px;
}
.top ul {
  list-style:none;
  margin:0;
}
.top ul li { display:inline; }
.top a { color:#ffffff; }
.top a:hover { color:#eaeef3; }
.top ul { float:right; }
.top ul li { margin-left:20px; }
.top i {
  font-size:17px;
  line-height:10px;
}
footer {
  background:#3c3f63;
  color:#ffffff;
  padding:10px 0;
  height:50px;
}
footer ul {
  list-style:none;
  margin:0;
}
footer ul li { display:inline; }
footer a { color:#ffffff; }
footer a:hover { color:#eaeef3; }
footer .plaspave {
  float:right;
  font-size:12px;
}
footer .plaspave span {
  font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size:23px;
  font-weight:bold;
  display:block;
  padding-left:5px;
}
footer nav { font-size:12px; }
footer nav ul {
  list-style:none;
  padding:0;
}
footer nav ul li {
  display:inline;
  margin-right:20px;
}
footer .copy {
  color:#838ea5;
  font-size:10px;
}
footer .copy a { color:#838ea5; }
footer .copy a:hover { color:#bec4d0; }
.container {
  max-width:960px;
  margin:0 auto;
}
header { position:relative; }
header .logo img { margin-top:20px; }
header .free_quote {
  float:right;
  background:#999999;
  color:#ffffff;
  text-transform:uppercase;
  font-weight:bold;
  padding:15px 25px;
}
header .free_quote:hover { background:#666666; }
header nav {
  text-transform:uppercase;
  font-size:15px;
  position:absolute;
  font-weight:bold;
  margin-left:200px;
  top:35px;
}
header nav ul { list-style:none; }
header nav ul li {
  display:inline;
  padding:3px 5px;
  margin-right:10px;
}
header nav ul li a { color:#323232; }
header nav ul li.active { background:#eaeef3; }
header nav ul li.active a { color:#3c3e62; }
header nav ul li:hover { background:#3c3e62; }
header nav ul li:hover a { color:#ffffff; }
header #banner {
  width:940px;
  margin:10px;
  height:390px;
  -moz-box-shadow:0px 2px 4px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow:0px 2px 4px 0 rgba(0,0,0,0.5);
  box-shadow:0px 2px 4px 0 rgba(0,0,0,0.5);
}
header #banner a {
  display:block;
  width:940px;
  height:390px;
  position:relative;
  color:#3c3e62;
  text-transform:uppercase;
  font-weight:bold;
}
header #banner a p {
  display:block;
  position:absolute;
  background:#ffffff;
  top:60px;
  left:0;
  padding:20px 40px 20px 100px;
  text-align:right;
  font-size:24px;
}
header #banner a p span {
  display:block;
  font-size:18px;
}
#page-homepage .intro {
  display:block;
  width:980px;
  margin:0 -10px;
  *zoom:1;
}
#page-homepage .intro:before, #page-homepage .intro:after {
  content:"";
  display:table;
}
#page-homepage .intro:after { clear:both; }
#page-homepage .intro div {
  display:inline;
  float:left;
  width:460px;
  margin:0 10px;
}
#page-homepage .contacts {
  display:block;
  width:980px;
  margin:0 -10px;
  *zoom:1;
  margin:20px 0 20px;
}
#page-homepage .contacts:before, #page-homepage .contacts:after {
  content:"";
  display:table;
}
#page-homepage .contacts:after { clear:both; }
#page-homepage .contacts .person {
  display:inline;
  float:left;
  width:300px;
  margin:0 10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-right:1px solid #e1e1e1;
}
#page-homepage .contacts .person .name { font-size:17px; }
#page-homepage .contacts .location .address {
  display:inline;
  float:left;
  width:220px;
  margin:0 10px;
}
#page-homepage .contacts .location .address strong {
  font-size:14px;
  text-transform:uppercase;
}
#page-homepage .contacts .location .map {
  display:inline;
  float:left;
  width:380px;
  margin:0 10px;
}
#page-homepage .contacts .location .map img {
  -moz-box-shadow:0px 2px 4px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow:0px 2px 4px 0 rgba(0,0,0,0.5);
  box-shadow:0px 2px 4px 0 rgba(0,0,0,0.5);
}
#page-blocks .block-section {
  display:block;
  width:980px;
  margin:0 -10px;
  *zoom:1;
}
#page-blocks .block-section:before, #page-blocks .block-section:after {
  content:"";
  display:table;
}
#page-blocks .block-section:after { clear:both; }
#page-blocks .block-section .block {
  display:inline;
  float:left;
  width:140px;
  margin:0 10px;
  margin-bottom:15px;
  text-align:center;
  text-transform:uppercase;
  display:block;
}
#page-contact .contacts {
  display:block;
  width:980px;
  margin:0 -10px;
  *zoom:1;
  margin:20px 0 20px;
}
#page-contact .contacts:before, #page-contact .contacts:after {
  content:"";
  display:table;
}
#page-contact .contacts:after { clear:both; }
#page-contact .contacts .info {
  display:inline;
  float:left;
  width:300px;
  margin:0 10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-right:1px solid #e1e1e1;
}
#page-contact .contacts .form input, #page-contact .contacts .form textarea { color:#323232; }
#page-contact .contacts .form .placeholder { color:#323232; }
#page-contact .contacts .form ::-webkit-input-placeholder { color:#323232; }
#page-contact .contacts .form :-moz-placeholder { color:#323232; }
#page-contact .contacts .form ::-moz-placeholder { color:#323232; }
#page-contact .contacts .form :-ms-input-placeholder { color:#323232; }
#page-contact .contacts .form input[type=text], #page-contact .contacts .form textarea {
  width:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background:#ededed;
  border:2px solid #e3e3e3;
  padding:10px 10px;
  margin-bottom:10px;
}
#page-contact .contacts .form textarea { height:137px; }
#page-contact .contacts .form input[type=submit] {
  float:right;
  border:0;
  color:#ffffff;
  padding:10px 50px;
  text-transform:uppercase;
  font-weight:bold;
  font-size:14px;
  background:#3a3c5e;
  background-image:-o-linear-gradient(-90deg,#3d3f63 0%,#676991 100%);
  background-image:-moz-linear-gradient(-90deg,#3d3f63 0%,#676991 100%);
  background-image:-webkit-linear-gradient(-90deg,#3d3f63 0%,#676991 100%);
  background-image:-ms-linear-gradient(-90deg,#3d3f63 0%,#676991 100%);
  background-image:linear-gradient(-90deg,#3d3f63 0%,#676991 100%);
}
#page-contact .contacts .form .left {
  display:inline;
  float:left;
  width:220px;
  margin:0 10px;
}
#page-contact .contacts .form .right {
  display:inline;
  float:left;
  width:380px;
  margin:0 10px;
}
